<mat-card class="example-card">
    
    <mat-card-content>
      <p>
        Holistic Skills Journal inspires users to indulge in a habit of recording their life skills and reflecting on their holistic growth.
        <br/>
        <br/>
        IQ(Intelligence Quotient), EQ(Emotional Quotient), SQ (Social Quotient), CQ (Curiosity Quotient), AQ (Adaptability Quotient)
        <br/>
        The App allows you to perform the following activities.
        <br/>
        <br/>
        1. Register your Metamask Account providing a friendly username to your Ethereum account.
        <br/>
        2. Capture a Skill that you have most recently acquired and exhibited.
        <br/>
        3. Share an link to users who can approve of your newly acquired skills.
        <br/>
        4. Approve skills for users with a feedback.
        <br/>
        5. View List of Skils acquired across different categories.
        <br/>
        <br/>
        Over a period of time, users of the dapp, will gather a plethora of skills often categorised into one of the below categories. 
        The journal provides a reflection on their holistic development and helps the individuals focus on their shortcomings.
        <br/>
        <br/>
        I was inspired to work on this application based on research articles from https://www.legofoundation.com/.
      </p>
    </mat-card-content>
    <img mat-card-image src="http://localhost:4200/assets/HolisticSkills.png" alt="Holistic Skills" style="align-self:center;width:350px;height:400px">
  </mat-card>